{{ define "content" }}
<form method="post" action="/login">
  <div class="uk-margin">
    <label for="username">Username:</label>
    <input id="username" class="uk-input" type="text" name="username">
  </div>

  <div class="uk-margin">
    <label for="password">Password:</label>
    <input id="password" class="uk-input" type="password" name="password">
  </div>

  <div class="uk-margin">
    <button type="submit" class="uk-button uk-button-default">Login</button>
  </div>
</form>
{{ end }}
